<div class="mccradysWrap">

  <div class="infoMccradys">
        <h1>{{rests[2].title}}</h1>
        <h4>{{rests[2].phone}}</h4>
        <h4>{{rests[2].address}}</h4>
        <h4><a href="{{rests[2].site}}">{{rests[2].site}}</a></h4>
    </div>

    <div class="menu col-xs-10, col-xs-offset-2">
    </div>



</div>
