<a href="#/admin/husk/new">Add Menu</a>
<div id="name">
  <div class="menuList" ng-repeat="menu in menus">
    <p>a{{menu.menu_name}}</p>




    <button ng-click="deleteMenu(menu)" class="btn">Delete</button>
  </div>
</div>
