<div class="welcomeWrap">

    <h2>TEAM 6 PROJECT</h2>

    <span>(downarrow?)</span>

</div>

<div class="restWrap col-12-md"> RESTAURANTS ARE HERE

    <div class="restBlock col-4-xs">This is restaurant 1</div>
    <div class="restBlock col-4-xs">This is restaurant 2</div>
    <div class="restBlock col-4-xs">This is restaurant 3</div>
    <div class="restBlock col-4-xs">This is restaurant 4</div>


</div>
