<form id="form_id" action="index.html" method="post" ng-submit="addMenu(menu)">
  <input name="menuTitle" placeholder="Menu Title" ng-model="menu" required>
  <button ng-click="goToTacoBoy()" type="button" class="btn">Submit Menu</button>
</form>
