<form id="form_id" method="post" ng-submit="addMenu(menu)">
  <input name="menuTitle" placeholder="Menu Title" ng-model="menu.menu.menu_name" required>
  <button type="submit" class="btn">Submit Menu</button>
</form>
