<div class="huskWrap col-md-12">



<div class="admin">

    <div class="info">
        <h1>{{rests[0].title}}</h1>
    </div>
<p><a href="#/admin">Back</a> | <a href="#/user/menus/1/items">View Menu</a></p>
<form ng-submit="addItem(newItem)"> <p>Add a new menu item:</p>
  <textarea placeholder="Description" ng-model="newItem.description" rows="2" cols="50"></textarea>
  <input type="number" ng-model="newItem.item_price" placeholder="$">
  <button class="btn" type="submit">Add Dish</button>
</form>
<hr style="
    margin: 0;
">

    <div class="menu menuWrap col-md-8 col-md-offset-2">


    <form ng-submit="editItems(item)" ng-repeat="item in items">
      <!-- <di class="menu col-xs-10, col-xs-offset-2"> -->
      <textarea rows="2" cols="60" ng-model="item.description" value="item.description"></textarea>
      <input ng-model="item.item_price" value="item.item_price | currency">
      <button class="btn btn-success" type="submit">Edit Item</button>
      <button ng-click="deleteItem(item)" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
</div>
