<div class="huskWrap col-md-12" ng-repeat="rest in rests">

    <div class="info">
        <h1>{{rests[0].title}}</h1>
        <h4>{{rests[0].phone}}</h4>
        <h4>{{rests[0].address}}</h4>
        <h4><a href="{{rests[0].site}}">{{rests[0].site}}</a></h4>
    </div>

    <div class="menu col-xs-8 col-xs-offset-2">
        HERE GOES THE MENU ITEMS
    </div>

</div>
