<div class="huskWrap col-md-12">

  <div class="info">
      <h1>{{rests[0].title}}</h1>
      <h4>{{rests[0].phone}}</h4>
      <h4>{{rests[0].address}}</h4>
      <h4><a href="{{rests[0].site}}">{{rests[0].site}}</a></h4>
  </div>

  <form ng-submit="addItem(newItem)">
    <textarea placeholder="Description" ng-model="newItem.description" rows="4" cols="40"></textarea>
    <input type="number" ng-model="newItem.item_price" placeholder="$">
    <button class="btn" type="submit">Add Dish</button>
  </form>

  <div class="menu col-xs-10, col-xs-offset-2">
    <form ng-repeat="item in items">
      <!-- <di class="menu col-xs-10, col-xs-offset-2"> -->
      <textarea rows="4" cols="40" ng-model="item.description" value="item.description"></textarea>
      <input ng-model="item.item_price" value="item.item_price | currency">
      <button ng-click="editItem(item)" class="btn">Edit Item</button>
      <button ng-click="deleteItem(item)" class="btn">Delete</button>
    </form>
  </div>
</div>
