<div class="welcomeWrap">

    <h2>Welcome Admin</h2>

    <P><a href="#">CLICK HERE FOR USER VIEW</a></P>

<span id="scrollButt" ng-click="isActive = !isActive">
    <i class="fa fa-angle-double-down"></i>
</span>


</div>

<!--THIS IS WHERE THE RESTAURANTS BEGIN -->

    <input ng-class="{'sticky': !isActive, 'sticky active': isActive}" ng-init="isActive = false" class="search" type="text" ng-model="search" placeholder="SEARCH RESTAURANTS">

<div class="row" id="scroll" style="margin:0;" ng-class="{'scroller': !isActive, 'scroller active': isActive}" ng-init="isActive = false">
    <div class="restWrap col-xs-12">
        <div ng-repeat="rest in rests | filter: search">
        <a href="#/admin/menus/{{rest.link}}/items"> <div class="restBlock col-md-3" style="background-image:url({{rest.image}})"></div> </a>

        </div>
    </div>
</div>

<!--THIS IS WHERE THE RESTAURANTS BEGIN -->

        <!-- <input ng-class="{'sticky': !isActive, 'sticky active': isActive}" ng-init="isActive = false" class="search" type="text" ng-model="search" placeholder="SEARCH RESTAURANTS"> -->
