<div class="welcomeWrap">
    <h2>Neighborhood Dining Group Collection</h2>


    <span id="scrollButt" ng-click="isActive = !isActive">
        <i class="fa fa-angle-double-down"></i>
    </span>


</div>

<!--THIS IS WHERE THE RESTAURANTS BEGIN -->

        <input class="search" type="text" ng-model="search" placeholder="SEARCH RESTAURANTS">

    <div class="row" id="scroll" style="margin:0;" ng-class="{'scroller': !isActive, 'scroller active': isActive}" ng-init="isActive = false">
        <div class="restWrap col-xs-12">
            <div ng-repeat="rest in rests | filter: search">
            <a href="#/user/menus/{{rest.link}}/items"> <div class="restBlock col-md-3" style="background-image:url({{rest.image}})"></div> </a>
            </div>
        </div>
    </div>


<!-- <a href="#/user/monza"> <div class="restBlock col-sm-3" style="ackground-image:url('http://www.travelandleisure.com/sites/default/files/styles/image_300x300/public/field/image/local-experts-charleston-best-budget-restaurants.jpg?itok=HVZSEP8d');"> <span>Monza</span></div> </a>
<a href="#/user/poes"> <div class="restBlock col-sm-3" style="ackground-image:url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS9GMq6ZY2T_T0VUJuZjGIV-RDTszl3dTLbtngiaJPSl8nGNnXJ')"><span>Poe's Tavern</span></div> </a>
<a href="#/user/cfb"> <div class="restBlock col-sm-3" style="ackground-image:url('https://s3.amazonaws.com/ah.cms/images/P1040351.jpg')"> <span>Closed for Business</span></div> </a> -->
